@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #7caaf8;
  color: #150e3e;
}
.dark {
  background-color: #073483;
  color: #c8c1f1;
}
nav {
  margin-top: 1rem;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: large;
  padding: 25px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 35px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ecebf9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 27px;
  width: 27px;
  left: 4px;
  bottom: 4px;
  background-color: #150e3e;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #150e3e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #150e3e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(38px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
  background-color: #c8c1f1;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}
@media (max-width: 900px) {
  nav {
    margin-top: 2rem;
  }
  .nav-item {
    display: none;
  }
  .icon {
    fill: black;
  }
  .mobile-menu-icon {
    display: flex;
    color: wheat;
    align-items: center;
  }
  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 36px;
    width: 36px;
  }
  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
    justify-content: space-evenly;
    list-style: none;
    font-size: large;
    padding: 25px;
  }

  .mobile-menu .login-button {
    display: block;
    padding: 1rem 2rem;
  }
  .mobile-menu .login-button button {
    width: 100%;
  }
  .open {
    display: block;
  }
}
#first_section {
  display: flex;
  padding: 1.25rem 1.5rem 1.5rem 1.5rem;
  justify-content: center;
  margin: auto;
  margin-top: 8rem;
  gap: 8rem;
}

#perfil > img {
  width: 24rem;
  border-radius: 15%;
}
#redes {
  display: flex;
  justify-content: space-between;
  padding-right: 0;
  padding-top: 10%;
}
#redesImg > img {
  width: 90%;
  border-radius: 25%;
}
#redesImg > img {
  width: 100%;
  border-radius: 25%;
}

#divdop01 {
  display: flex;
  width: 25%;
  justify-content: center;
}
#p01 {
  text-align: left;
  padding: 1.25rem 1.5rem 1.5rem 1.5rem;
  font-size: x-large;
}
@media (max-width: 900px) {
  #first_section {
    display: flex;
    flex-direction: column;
    padding: 1.25rem 1.5rem 1.5rem 1.5rem;
    justify-content: center;
    margin: auto;
    margin-top: 8rem;
  }

  #perfil > img {
    display: grid;
    width: 50%;
    border-radius: 15%;
    place-self: center;
  }
  #redes {
    display: flex;
    justify-content: space-evenly;
    padding-right: 0%;
    padding-top: 10%;
  }
  #redesImg > img {
    width: 100%;
    border-radius: 25%;
  }
  #divdop01 {
    display: grid;
    width: 50%;
    border-radius: 15%;
    place-self: center;
    margin-top: 5rem;
  }
  #p01 {
    text-align: left;
    padding: 1.25rem 1.5rem 1.5rem 1.5rem;
    font-size: x-large;
  }
}
